<h1>Here are your lists!</h1>
  <h2>
  you have <%= @lists.size %> lists
  </h2>
<ul>
  <% @lists.each do |list| %>
    <li>
      <%= list.name %>
      <%= link_to "go to the list", list_path(list) %>
    </li>
  <% end %>
</ul>
<%= link_to "add", new_list_path %>
